* {
    width: 100%;
    padding: 0;
    margin: 0;
}

.head h1 {
    text-align: center;
    font-size: 90px;
    color: #68B984;
}
.section {
    width: 100%;
    text-align: center;
    height: 300px;
    padding: 20px;

}
.dash a {
    text-decoration: none;
    color: #CFFDE1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}
.dash a:hover {
    background-color: aqua;
    opacity: 0.6;
    border-radius: 20px;
}
.dash {
    margin-top: 15rem;
}
.vote a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #CFFDE1;
    font-size: 70px;
}
.vote a:hover {
    background-color: aqua;
    opacity: 0.6;
    border-radius: 20px;
}
body {
    background-color: #3D5656;
    justify-content: center;
}
